@import "tailwindcss";
@plugin "daisyui"{
    themes : light --default
}
@plugin "daisyui/theme" {
  default: true;

  /* Zaffro Brand Colors */
  --color-primary: #000000;     /* Navy Blue */
  --color-secondary: #000000;   /* Soft Yellow */
  --color-accent: #000000;      /* Teal */
  --color-neutral: #FFFFFF;     /* Royal Blue as neutral */
}